.header {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    min-height: 70px;
    background-color: coral;
    margin-bottom: 25px;
}

.header a {
    font-size: 25px;
    color: snow;
    text-decoration: none;
}

.header a[class=active]{
    color: black;
}